{% extends "base.html" %}

{% block content %}
<style>
  .form-container .card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .form-container p {
    padding: 0.5rem;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  .form-container input,
  .form-container select,
  .form-container textarea {
    width: 95%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
</style>

<div class="container mt-5">
  <!-- Card container -->
  <div class="card form-container">
    <div class="card-header bg-primary text-white">
      <h6>Circumcision Procedure Form</h>
    </div>
    <div class="card-body">
      <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // Wait for the DOM to be loaded before attaching event listeners
  document.addEventListener('DOMContentLoaded', function () {
    // Assuming the 'id_adverse_events' is the ID for the adverse events checkbox
    var adverseEventCheckbox = document.getElementById('id_adverse_events');
    var adverseEventTypes = document.getElementById('id_adverse_event_types').closest('.form-group');
    var severity = document.getElementById('id_severity').closest('.form-group');

    // Function to toggle the display of adverse event types and severity
    function toggleAdverseEventFields() {
      if (adverseEventCheckbox.checked) {
        adverseEventTypes.style.display = 'block';
        severity.style.display = 'block';
      } else {
        adverseEventTypes.style.display = 'none';
        severity.style.display = 'none';
      }
    }

    // Attach the event listener to the checkbox for the 'change' event
    adverseEventCheckbox.addEventListener('change', toggleAdverseEventFields);

    // Call the function to set the initial state on page load
    toggleAdverseEventFields();
  });
</script>


{% endblock %}
