{% extends 'base.html' %} <!-- Replace with your base template -->

{% block content %}

<div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Active Clients</h6>
        </div>
        <div class="card-body p-0 pb-3 text-center">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-0">#</th>
                <th scope="col" class="border-0">First Name</th>
                <th scope="col" class="border-0">Last Name</th>
                <th scope="col" class="border-0">NIN</th>
                <th scope="col" class="border-0">Phone</th>
                <th scope="col" class="border-0">Action</th>
               
              </tr>
            </thead>
            <tbody>            
              
              
                {% for client in clients %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ client.first_name}}</td>
                  <td>{{ client.last_name }}</td>
                  <td>{{ client.nin }}</td>
                  <td>{{client.client_phone_number}}</td>
                  <td>
                    <a href="" class="btn btn-primary">Send SMS</a>
                    <a href="{% url 'client_dashboard' client.id %}" class="btn btn-primary">Patients Dashboard</a>
                  </td>
                  <!-- Add other fields as needed -->
                </tr>
              {% endfor %}
           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}
